* {
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}

body {
    background: url(images/binding_dark.png);
}

header {
    color: white;
    padding: 5px;
    border-bottom: 1px solid darkgrey;
}

#nav-section {
    background: #5d8aa8;
    position: fixed;
    left: 0;
    height: 100%;
    width: 25%;
}

#nav-section ul a {
    display: block;
    height: 100%;
    width: 100%;
}

.nav-links {
    padding: 10px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: lightblue;
}

#hero-header {
    color: lightblue;
    text-align: center;
    margin-left: 70px;
}