* {
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}

body {
    background: url(images/binding_dark.png);
    color: white;
}

#name-header {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid darkgrey;
}

#nav-section {
    background: #5d8aa8;
    position: fixed;
    left: 0;
    height: 100%;
    width: 23%;
}

#nav-section ul a {
    display: block;
    height: 100%;
    width: 100%;
}

.nav-links {
    padding: 10px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: lightblue;
}

#hero-header {
    color: lightblue;
    text-align: center;
    margin-left: 70px;
}

#hero-subtext {
    text-align: center;
    margin-left: 70px;
}

#my-project-header {
    color: lightblue;
    text-align: center;
    margin-left: 70px;
    border-bottom: 1px solid lightgrey;
}

@media screen and (min-width: 390px) {
    #hero-subtext {
        font-size: 18px;
        position: relative;
        left: 3%;
    }
}

@media screen and (min-width: 820px) {
    #hero-subtext {
        font-size: 39px;
        position: relative;
        left: 10%;
        right: 10%;
    }
}